/*Fletcher Williams 12/09/2021*/

body{
    background-color:  rgb(175, 211, 224);
   font-family: Arial, Helvetica, sans-serif;
   
}
.header2{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    box-sizing: border-box;   
    z-index: 50;
    border: solid 1px #555 ;
    text-align: right;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-right: 5px;
}
 a{
     color: black;
     text-decoration: none;
 }

 /*.common{ 
  background-color: rgb(150, 146, 146);
   border: solid 2px white;
   position: absolute;
}*/

div{
    z-index: 10;
}

p{
    z-index: 10;
}
h2{
    
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder  ;
    color: rgb(255, 255, 255);
   }
   h3{
       
       
       color: #ffffff;
       
  font-family: Arial, Helvetica, sans-serif;
   }

.boxheader{
    
    position: relative;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  
  background-size: cover;
  background-attachment: scroll;
  z-index: -1;
  text-align: center;
  font-size: 200%;
  
}
header.boxheader:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    opacity: 0.5;
  }


.rightmenu{
   top: 115px;
   right: 5px;
   width: 100px;
   bottom: 45px;
   border-left: 1px #555 solid;
   padding-left: 5px;
}

.mainbody{
    position: relative;
    width: 47%;
   left: 0px;
   right: 0px;
   margin-top: 1%;
   margin-left: 1%;
   margin-right: 1%;
   margin-bottom: 1%;
   top: 0px;
   border:solid black 2px;
   z-index: 6;  
   
  
}
.subbody{
    position: relative;
    width: 47%;
    left: 0px;
    right: 0px;
    margin-top: -1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    top: 0px;
    text-align: center;
    border: black solid 2px;
    border-top: none;
    z-index: 5;
    background-color: #fff;
        
}

.break{
    
    clear: both;
    height: 1px;

}
h2.subbody{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
h4.subbody{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.leftmenu{
   top: 115px;
   left: 5px;
   width: 100px;
   bottom: 45px;
   z-index: 1;
   padding-top: 50px;
   border-right: 1px #555 solid;
}

.boxfooter{
    position:relative;
   bottom: 5px;
   left: 5px;
   right: 5px;
   height:20px;
   text-align: center ;
   border: solid black;padding: 10px;
   clear: both;
}

a:hover{
    font-size: 105%;
}