/*Fletcher Williams 12/09/2021*/

.footer{
text-align: center;
font-size: smaller;
font-family:'Times New Roman', Times, serif;
color:#6c757d;

}

h1{
    word-break: keep-all;
}

div{
text-align: center;
}

.homesub{
font-style: normal;
font-size:larger;
font-weight:600;
}

h2.homesub{
    text-align: center;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}

img.image{
    width: 32%; padding-right: 1%;  
    border:solid #fff 2px; padding: 2px;
}
.aboutov{
    text-align: left;

}
.aboutbody{
    font-style: normal;
    font-size:normal ;
    font-weight:normal;
}

.resume{
    text-align: left;  
}
h2.resume{
 font-size: larger;
 text-decoration: underline;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-weight:bolder  ;
}
h3.resume{
    font-size: large;
    color: #6c757d;
}

p.resume{
    font-size:large;
}

